//
//  secrets.xcconfig
//  MaltContributors
//
//  Created by Benjamin Sénéchal on 06/12/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TOKEN_GITHUB = "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"
